POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppassword
POSTGRES_DB=appdb
DATABASE_URL=postgresql+asyncpg://appuser:apppassword@db:5432/appdb
SECRET_KEY="changeme"
ACCESS_TOKEN_EXPIRE_MINUTES = changeme
REFRESH_TOKEN_EXPIRE_DAYS = changeme